body {
	box-sizing: border-box;
	background-image: radial-gradient(
		circle 993px at 0.5% 50.5%,
		rgba(137, 171, 245, 0.37) 0%,
		rgba(245, 247, 252, 1) 100.2%
	);
}
.container {
	margin: auto;
}

@media (min-width: 320px) {
	body {
		padding: 2cm 0.5cm;
		background-image: red;
	}
}

@media (min-width: 768px) {
	body {
		padding: 2cm;
	}
}
